<div class="home-page">
    <form method="GET" action="/artist-search">
    <label class="search-label">
        <input type="text" name="artist" placeholder="search your artist here"/>

    </label>
    <button class="search-btn"> Findyour artist</button>
    </form>
</div>